@charset "UTF-8";

/*  
    1- #F22E2E
    2- #F26363
    3- #F29494
    4- #F2F2F2
    5- #0D0D0D
*/
.material-symbols-outlined {
    display: inline;
    justify-content: flex-end;
    float: left;
    padding: 3px;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48, 
}


*  {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, #f22e2e, #f26363, #F29494);
    height: 100vh;
    width: 100vw;
}
.abbr {
    text-decoration: none;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0d0d0d;
    color:  #F2F2F2;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.723);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #F26363 url(../imagens/pexels-harrison-haines-3536510.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

div.campo > label {
    display: none;
}


div.campo {
    font-size: 1.1em;
    width: 40px;
    padding: 4px;
}

div.campo > input {
    border: 0;
    border-radius: 5px;
    padding: 4px;
}

form > div.campo {
    width: 100%;
    display: block;
    height: 48px;
    margin-top: 10px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    margin-top: 3%;
    height: 30px;
    background-color: #f22e2e9b;
    color: #F2F2F2;
    border: none;
    border-radius: 5px;
}
form > input[type=submit]:hover {
    background-color: #f22e2e;
    cursor: pointer;
    text-decoration: underline;
}

.botao {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding: auto;
    margin-top: 2%;
    color: #F2F2F2;
    text-decoration: none;
}

.botao:hover {
    display: flex;
    font-size: 1em;
    text-decoration: underline;
}

i#hp  {
    display: block;
}